* {
  margin: 0 auto;
  padding: 0;
}
body {
  margin: 0 auto;
  padding: 0;
  
}
.container {
  margin: 0 auto;
  padding: 0;
  
}
.navigation {
  position: absolute;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

/* 네비게이션 */
nav {
  margin: 0 auto;
  width: 100%;
  height: 40px;
  padding: 4px;
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.logo {
  margin: 0;
  padding: 0;
  display: flex;
  width: 110px;
}
.ul1 {
  
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-content: center;
  list-style: none;
  color: #fff;
}
.ul1 li:hover .navigation{
  background-color: #fff;
}

.ul1 li{
  position: relative;
  font-size: 14px;
  padding-left: 16px;
  padding-right: 16px;
  color: #fff;
}
.ul1 a {
  padding: 0;
  margin: 0;
  color: #fff;
  text-decoration: none;
}
.submenu1 {
  display: none; 
  position: absolute;
  top: 100%; /* 상위 메뉴 아래에 위치 */
  left: 0;
  background-color: #fff;
  z-index: 1;
  width: 100%;
}
.submenu1 li {
  display: block;
  z-index: 1;
}
.submenu1 li a {
  padding: 10px;
  color: black;
  text-decoration: none;
}
/* 마우스를 올리면 하위 메뉴 표시 */
.ul1 li:hover .submenu1 {
  display: block;
  z-index: 1;
}


.ul2 {
  padding: 0;
  display: flex;
  align-content: flex-end;
  list-style: none;
  /* border: 1px solid black; */
}
.ul2 a {
  padding: 0;
  margin: 0;
}
.ul2 svg {
  padding: 10px;
  display: flex;
  list-style: none;
  /* border: 1px solid black; */
}



button {
  background-color: transparent;
  border: 0;
}

/* 768px 이하 화면 크기에서는 햄버거 메뉴 보이기 */
/* @media (max-width: 768px) {
        nav {
            display: inline;
            position: absolute;
            top: 70px;
            left: 0;
            width: 100%;
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            
             
        }
        nav.is-active {
            display: flex;
            flex-direction: column;
        }
        nav ul {
            flex-direction: column;
            margin: 0;
        }
        nav li {
            margin-right: 0;
            margin-bottom: 10px;
        }
        .hamburger {
            display: block;
            position: relative;
            
           
            overflow: hidden;
            cursor: pointer;
            padding: 10px;
            border: none;
            background-color: transparent;
        }
        .hamburger-box {
            width: 30px;
            height: 24px;
           
            display: inline-block;
            position: relative;
        }
        .hamburger-inner {
            display: block;
            top: 50%;
            margin-top: -2px;
        }
        .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
            width: 100%;
            height: 2px;
            background-color: #333;
            position: absolute;
            left: 0;
            transition-duration: 0.15s;
            transition-timing-function: ease;
        }
        .hamburger-inner::before {
            content: "";
            top: -8px;
        }
        .hamburger-inner::after {
            content: "";
            bottom: -8px;
        }
        .hamburger.is-active .hamburger-inner {
            background-color: transparent;
        }
        .hamburger.is-active .hamburger-inner::before {
            transform: rotate(-45deg);
            top: 0;
        }
        .hamburger.is-active .hamburger-inner::after {
            transform: rotate(45deg);
            bottom: 0;
        }
} */

    /* 메인 */
    .main-video {
      margin-top: -50px;
      position: relative;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      padding: 0;
      margin: 0 auto;
      text-align: center;
      overflow: hidden;
      border: 0;
    }
    .maintext1 {
      position: absolute;
      top: 19%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: white;
      font-size: 41px;
      z-index: 1;
      font-weight: 800;
      /* color: #fff; */
    }
    .maintext1 span {
      font-weight: 400;
    }
    .maintext2 {
      position: absolute;
      top: 24%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: white;
      font-size: 14px;
      z-index: 1;
    }
    .mainbtn {
      position: absolute;
      top: 83%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #fff;
      border: 3px solid white;
      border-radius: 3px;
      /* padding: 5px; */
      width: 260px;
      height: 40px;
      font-size: 14px;
      z-index: 1;
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    /* 모델3 */
    .model3 {
      display: flex;
      position: relative;
      width: 100%;
      height: 100vh;
    }
    .model3img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }
    .model3text {
      position: absolute;
      top: 19%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: black;
      font-size: 42px;
      font-weight: bold;
      z-index: 1;
    }
    .model3btn {
      overflow: hidden;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      margin: 0;
      padding: 0;
      border: 1px solid black;
    }
    .model3btn1 {
      transform: translate(-50%, -50%);
      text-align: center;
      color: #fff;
      border: 0;
      border-radius: 3px;
      background-color: #22251c;
      padding: 5px;
      width: 260px;
      height: 40px;
      font-size: 14px;
      z-index: 1;
      margin: 0;
    }
    .model3btn2 {
      transform: translate(-50%, -50%);
      text-align: center;
      background-color: #dfdfdf;
      border: 0;
      border-radius: 3px;
      padding: 5px;
      width: 260px;
      height: 40px;
      font-size: 14px;
      z-index: 1;
      margin: 0;
    }

    /* 모델Y */
    .modely {
      display: flex;
      position: relative;
      width: 100%;
      height: 100vh;
    }
    .modelyimg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }
    .modelytext {
      position: absolute;
      top: 19%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: black;
      font-size: 42px;
      font-weight: bold;
      z-index: 1;
    }
    .modelybtn {
      position: absolute;
      top: 80%;
      left: 50%;
      display: flex;
      gap: 10px;
      border: 0;
    }
    .modelybtn1 {
      /* display: inline; */
      transform: translate(-50%, -50%);
      text-align: center;
      color: #fff;
      border: 0;
      border-radius: 3px;
      background-color: #22251c;
      /* padding: 5px; */
      width: 260px;
      height: 40px;
      font-size: 14px;
      z-index: 1;
    }
    .modelybtn2 {
      /* display: inline; */
      transform: translate(-50%, -50%);
      text-align: center;
      background-color: #dfdfdf;
      border: 0;
      border-radius: 3px;
      padding: 5px;
      width: 260px;
      height: 40px;
      font-size: 14px;
      z-index: 1;
    }

    /* 모델S */
    .models {
      display: flex;
      position: relative;
      width: 100%;
      height: 100vh;
    }
    .modelsimg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }
    .modelstext {
      position: absolute;
      top: 19%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: black;
      font-size: 42px;
      font-weight: bold;
      z-index: 1;
    }
    .modelstext2 {
      position: absolute;
      text-decoration: underline;
      top: 24%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: black;
      font-size: 14px;
      font-weight: 150;
      z-index: 1;
    }
    .modelsbtn {
      position: absolute;
      top: 88%;
      left: 50%;
      display: flex;
      gap: 10px;
      border: 0;
    }
    .modelsbtn1 {
      /* display: inline; */
      transform: translate(-50%, -50%);
      text-align: center;
      color: #fff;
      border: 0;
      border-radius: 3px;
      background-color: #22251c;
      /* padding: 5px; */
      width: 260px;
      height: 40px;
      font-size: 14px;
      z-index: 1;
    }
    .modelsbtn2 {
      /* display: inline; */
      transform: translate(-50%, -50%);
      text-align: center;
      background-color: #dfdfdf;
      border: 0;
      border-radius: 3px;
      padding: 5px;
      width: 260px;
      height: 40px;
      font-size: 14px;
      z-index: 1;
    }

    /* 모델X */
    .modelx {
      display: flex;
      position: relative;
      width: 100%;
      height: 100vh;
    }
    .modelximg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }
    .modelxtext {
      position: absolute;
      top: 19%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: black;
      font-size: 42px;
      font-weight: bold;
      z-index: 1;
    }
    .modelxtext2 {
      position: absolute;
      text-decoration: underline;
      top: 24%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: black;
      font-size: 14px;
      font-weight: 150;
      z-index: 1;
    }
    .modelxbtn {
      position: absolute;
      top: 88%;
      left: 50%;
      display: flex;
      gap: 10px;
      border: 0;
    }
    .modelxbtn1 {
      /* display: inline; */
      transform: translate(-50%, -50%);
      text-align: center;
      color: #fff;
      border: 0;
      border-radius: 3px;
      background-color: #22251c;
      /* padding: 5px; */
      width: 260px;
      height: 40px;
      font-size: 14px;
      z-index: 1;
    }
    .modelxbtn2 {
      /* display: inline; */
      transform: translate(-50%, -50%);
      text-align: center;
      background-color: #dfdfdf;
      border: 0;
      border-radius: 3px;
      padding: 5px;
      width: 260px;
      height: 40px;
      font-size: 14px;
      z-index: 1;
    }

    /* 태양광 */
    .solar {
      display: flex;
      position: relative;
      width: 100%;
      height: 100vh;
    }
    .solarimg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }
    .solartext {
      position: absolute;
      top: 19%;
      left: 50%;
      /* justify-content: center; */
      /* align-content: center; */
      white-space: nowrap;
      transform: translate(-50%, -50%);
      text-align: center;
      color: black;
      font-size: 42px;
      transition: font-size 0.3s ease;
      z-index: 1;
    }
    @media (max-width: 768px) {
      .solartext {
        font-size: 40px

      }
    }
    .solartext2 {
      position: absolute;
      top: 24%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: black;
      font-size: 14px;
      z-index: 1;
    }
    .solarbtn {
      position: absolute;
      top: 79.3%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      background-color: #22251c;
      color: #fff;
      border: 0;
      border-radius: 3px;
      padding: 5px;
      width: 260px;
      height: 42px;
      font-size: 14px;
      z-index: 1;
    }

    /* 액세서리 */
    .acc {
      display: flex;
      position: relative;
      width: 100%;
      height: 100vh;
    }
    .accimg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }
    .acctext {
      position: absolute;
      top: 19%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: black;
      font-size: 40px;
      z-index: 1;
    }
    .accbtn {
      position: absolute;
      top: 83%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      background-color: #fff;
      color: #22251c;
      border: 0;
      border-radius: 3px;
      padding: 5px;
      width: 260px;
      height: 42px;
      font-size: 14px;
      z-index: 1;
    }

    /* footer */
    footer {
      background-color: black;
      color: white;
      font-size: 12px;
      padding: 20px 0px 10px 0px;
      text-align: center;
      text-decoration: none;
      font-weight: lighter;
    }
    footer span {
      margin-right: 10px;
    }
    .footptag {
      margin-top: 30px;
      font-size: 10px;
    }
    .footptag p {
      margin: 6px;
      font-weight: 300;
    }
    .footptag a {
      text-decoration: none;
      color: white;
      text-decoration: underline;
    }