* {
  margin: 0 auto;
  padding: 0;
}
body {
  margin: 0 auto;
  padding: 0;
}
@media screen and (max-width: 767px) {
  /* 화면 너비가 767px 이하인 경우에 적용될 스타일 */
  body {
    min-width: 768px;
  }
}
.container {
  margin: 0 auto;
  padding: 0;
  
}
.navigation {
  position: absolute;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

/* 네비게이션 */
nav {
  margin: 0 auto;
  width: 100%;
  height: 40px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.logo {
  margin: 0;
  padding: 0;
  display: flex;
  width: 110px;
}
.ul1 {
  
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-content: center;
  list-style: none;
  color: #fff;
}
.ul1 li:hover .navigation{
  background-color: #fff;
}
.ul1 li{
  position: relative;
  font-size: 14px;
  padding-left: 16px;
  padding-right: 16px;
  color: #fff;
}
.ul1 a {
  padding: 0;
  margin: 0;
  color: #fff;
  text-decoration: none;
}
.ul2 {
  padding: 0;
  display: flex;
  align-content: flex-end;
  list-style: none;
}
.ul2 a {
  padding: 0;
  margin: 0;
}
.ul2 svg {
  padding: 10px;
  display: flex;
  list-style: none;
}
button {
  background-color: transparent;
  border: 0;
}



    /* 메인 */
    .main-video {
      margin-top: -50px;
      position: relative;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      padding: 0;
      margin: 0 auto;
      text-align: center;
      overflow: hidden;
      border: 0;
    }
    .textbox1 {
      width: 100vw;
      margin: 0;
      padding: 0;
      z-index: 1;
      display: flex;
      justify-content: center;
    }
    .maintext1 {
      position: absolute;
      top: 19%;
      text-align: center;
      color: white;
      font-size: 41px;
      font-weight: 800;
      white-space: nowrap;
      z-index: 1;
    }
    .maintext1 span {
      font-weight: 400;
    }
    .textbox2 {
      width: 100vw;
      margin: 0;
      padding: 0;
      z-index: 1;
      display: flex;
      justify-content: center;
    }
    .maintext2 {
      position: absolute;
      top: 27%;
      text-align: center;
      color: white;
      font-size: 14px;
    }
    .btnbox {
      width: 100vw;
      margin: 0;
      padding: 0;
      z-index: 1;
      display: flex;
      justify-content: center;
    }
    .mainbtn {
      position: absolute;
      top: 83%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #fff;
      border: 3px solid white;
      border-radius: 3px;
      width: 260px;
      height: 40px;
      font-size: 14px;
      z-index: 1;
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    /* 모델3 */
    .model3 {
      display: flex;
      position: relative;
      width: 100%;
      height: 100vh;
      margin: 0 auto;
      padding: 0;
    }
    .model3img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }
    
    .model3text {
      position: absolute;
      top: 19%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: black;
      font-size: 42px;
      font-weight: bold;
      z-index: 1;
    }
    .box {
      width: 100vw;
      margin: 0;
      padding: 0;
      z-index: 1;
      display: flex;
      justify-content: center;
    }
    .model3btn {
      position: absolute;
      top: 80%;
      gap: 10px;
      display: flex;
      justify-content: center;
      z-index: 1;
      margin: 0;
    }
    .model3btn1 {
      text-align: center;
      color: #fff;
      border: 0;
      border-radius: 3px;
      background-color: #22251c;
      width: 260px;
      height: 40px;
      font-size: 14px;
      margin: 0;
    }
    .model3btn2 {
      text-align: center;
      background-color: #dfdfdf;
      border: 0;
      border-radius: 3px;
      width: 260px;
      height: 40px;
      font-size: 14px;
      margin: 0;
    }
    /* 모델Y */
    .modely {
      display: flex;
      position: relative;
      width: 100%;
      height: 100vh;
      margin: 0 auto;
      padding: 0;
    }
    .modelyimg {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }
    .modelytext {
      position: absolute;
      top: 19%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: black;
      font-size: 42px;
      font-weight: bold;
      z-index: 1;
    }
    .modelybtn {
      overflow: hidden;
      height: 60px;
      position: absolute;
      top: 80%;
      gap: 10px;
      display: flex;
      flex-grow: unset;
      align-content: center;
      flex-wrap: wrap;
      justify-content: center;
      z-index: 1;
      margin: 0;
    }
    .modelybtn1 {
      text-align: center;
      color: #fff;
      border: 0;
      border-radius: 3px;
      background-color: #22251c;
      width: 260px;
      height: 40px;
      font-size: 14px;
      margin: 0;
    }
    .modelybtn2 {
      text-align: center;
      background-color: #dfdfdf;
      border: 0;
      border-radius: 3px;
      width: 260px;
      height: 40px;
      font-size: 14px;
      margin: 0;
    }
    
    /* 모델S */
    .models {
      display: flex;
      position: relative;
      width: 100%;
      height: 100vh;
      margin: 0 auto;
      padding: 0;
    }
    .modelsimg {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }
    .modelstext {
      position: absolute;
      top: 19%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: black;
      font-size: 42px;
      font-weight: bold;
      z-index: 1;
    }
    .modelstext2 {
      position: absolute;
      top: 24%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: black;
      font-size: 14px;
      z-index: 1;
    }
    
    .modelsbtn {
      overflow: hidden;
      height: 60px;
      position: absolute;
      top: 80%;
      gap: 10px;
      display: flex;
      flex-grow: unset;
      align-content: center;
      flex-wrap: wrap;
      justify-content: center;
      z-index: 1;
      margin: 0;
    }
    .modelsbtn1 {
      text-align: center;
      color: #fff;
      border: 0;
      border-radius: 3px;
      background-color: #22251c;
      width: 260px;
      height: 40px;
      font-size: 14px;
      margin: 0;
    }
    .modelsbtn2 {
      text-align: center;
      background-color: #dfdfdf;
      border: 0;
      border-radius: 3px;
      width: 260px;
      height: 40px;
      font-size: 14px;
      margin: 0;
    }
    /* 모델x */
    .modelx {
      display: flex;
      position: relative;
      width: 100%;
      height: 100vh;
      margin: 0 auto;
      padding: 0;
    }
    .modelximg {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }
    .modelxtext {
      position: absolute;
      top: 19%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: black;
      font-size: 42px;
      font-weight: bold;
      z-index: 1;
    }
    .modelxtext2 {
      position: absolute;
      top: 24%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: black;
      font-size: 14px;
      z-index: 1;
    }
    .modelxbtn {
      overflow: hidden;
      height: 60px;
      position: absolute;
      top: 80%;
      gap: 10px;
      display: flex;
      flex-grow: unset;
      align-content: center;
      flex-wrap: wrap;
      justify-content: center;
      z-index: 1;
      margin: 0;
    }
    .modelxbtn1 {
      text-align: center;
      color: #fff;
      border: 0;
      border-radius: 3px;
      background-color: #22251c;
      width: 260px;
      height: 40px;
      font-size: 14px;
      margin: 0;
    }
    .modelxbtn2 {
      text-align: center;
      background-color: #dfdfdf;
      border: 0;
      border-radius: 3px;
      width: 260px;
      height: 40px;
      font-size: 14px;
      margin: 0;
    }

    /* 태양광 */
    .solar {
      display: flex;
      position: relative;
      width: 100%;
      height: 100vh;
    }
    .solarimg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }
    .solartext {
      position: absolute;
      top: 19%;
      left: 50%;
      white-space: nowrap;
      transform: translate(-50%, -50%);
      text-align: center;
      color: black;
      font-size: 42px;
      transition: font-size 0.3s ease;
      z-index: 1;
    }
    
    @media (max-width: 768px) {
      .solartext {
        font-size: 40px

      }
    }
    .solartext2 {
      position: absolute;
      top: 24%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: black;
      font-size: 14px;
      z-index: 1;
    }
    .solarbtn {
      position: absolute;
      top: 79.3%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      background-color: #22251c;
      color: #fff;
      border: 0;
      border-radius: 3px;
      padding: 5px;
      width: 260px;
      height: 42px;
      font-size: 14px;
      z-index: 1;
    }

    /* 액세서리 */
    .acc {
      display: flex;
      position: relative;
      width: 100%;
      height: 100vh;
    }
    .accimg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }
    .acctext {
      position: absolute;
      top: 19%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: black;
      font-size: 40px;
      z-index: 1;
    }
    .accbtn {
      position: absolute;
      top: 83%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      background-color: #fff;
      color: #22251c;
      border: 0;
      border-radius: 3px;
      padding: 5px;
      width: 260px;
      height: 42px;
      font-size: 14px;
      z-index: 1;
    }

    /* footer */
    footer {
      background-color: black;
      color: white;
      font-size: 12px;
      padding: 20px 0px 10px 0px;
      text-align: center;
      text-decoration: none;
      font-weight: lighter;
    }
    footer span {
      margin-right: 10px;
    }
    .footptag {
      margin-top: 30px;
      font-size: 10px;
    }
    .footptag p {
      margin: 6px;
      font-weight: 300;
    }
    .footptag a {
      text-decoration: none;
      color: white;
      text-decoration: underline;
    }